// Add your custom utility functions for evaluating and manipulate source code across our variables, maps, and mixins.
@use "sass:map";
/// Description
/// @parameter {Double} $start [0]
/// @parameter {Double} $end [1000]
/// @parameter {String} $unit [vw]
/// @parameter {Double} $unit_incrementer [1]
/// @parameter {Double} $value [.1]
/// @parameter {Double} $value_incrementer [.1]
/// 
/// @return {map} 
/// 
@function get-sizes($start:0, $end:1000, $unit:vw, $unit_incrementer:1, $value:.1, $value_incrementer:.1 ){
    $ret_map: (try: tryvw);
    @while $start <= $end {
        $ret_map: map.set($ret_map, #{$start}#{$unit}, ($value * 1#{$unit}));
        $start: $start + $unit_incrementer;
        $value: $value + $value_incrementer;
    }
    @return $ret_map;
}