//Add your styles into this file
@use "sass:selector";

.wrapper {
  padding: 0;

  @include media-breakpoint-down(md) {
      position: relative;
      overflow: hidden;
  }
}

::-webkit-scrollbar {
  display: none;
}
//---------------------------------------------- FONT STYLES ----------------------------------------------//
// Font Size 
//Maybe you can use this styles ot maybe you want to modifu the bootstrap values

//---------------------------------------------- FONT STYLES (END) ----------------------------------------//
//---------------------------------------------- BACKGROUND ----------------------------------------------//

//---------------------------------------------- BACKGROUND (END) ----------------------------------------//
//---------------------------------------------- BUTTONS ----------------------------------------------//

//---------------------------------------------- BUTTONS (END) ----------------------------------------//
//---------------------------------------------- FORMS ----------------------------------------------//

//---------------------------------------------- FORMS (END) ----------------------------------------//
//---------------------------------------------- ICONS ----------------------------------------------//
//You can make your own icons in https: //icomoon.io/app/#/select
.moo {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


//---------------------------------------------- ICONS (END) ----------------------------------------//
//---------------------------------------------- IMAGES ----------------------------------------------//

//---------------------------------------------- IMAGES (END) ----------------------------------------//
//---------------------------------------------- MODAL ----------------------------------------------//

//---------------------------------------------- MODAL (END) ----------------------------------------//
//---------------------------------------------- NAVBAR ----------------------------------------------//

//---------------------------------------------- NAVBAR (END) ----------------------------------------//
//---------------------------------------------- OTHER ----------------------------------------------//

//---------------------------------------------- OTHER (END) ----------------------------------------//
