// New utilities can be added in here
// @see https://getbootstrap.com/docs/5.2/utilities/api/#using-the-api

$utilities: map-merge($utilities,
    ("margin-x": map-merge(map-get($utilities, "margin-x"),
        (values: map-merge($spacers-vw,
            map-get(map-get($utilities, "margin-x"), "values")),
        )),
      "margin-start": map-merge(map-get($utilities, "margin-start"),
        (values: map-merge($spacers-vw,
            map-get(map-get($utilities, "margin-start"), "values")),
        )),
      "margin-end": map-merge(map-get($utilities, "margin-end"),
        (values: map-merge($spacers-vw,
            map-get(map-get($utilities, "margin-end"), "values")),
        )),
      "padding-x": map-merge(map-get($utilities, "padding-x"),
        (values: map-merge($spacers-vw,
            map-get(map-get($utilities, "padding-x"), "values")),
        )),
      "padding-end": map-merge(map-get($utilities, "padding-end"),
        (values: map-merge($spacers-vw,
            map-get(map-get($utilities, "padding-end"), "values")),
        )),
      "padding-start": map-merge(map-get($utilities, "padding-start"),
        (values: map-merge($spacers-vw,
            map-get(map-get($utilities, "padding-start"), "values")),
        )),
      "font-family": (property: font-family,
        class: font,
        values: ($fonts-family,
        ),
      ),
      "font-size": (rfs: true,
        property: font-size,
        responsive: true,
        class: fs,
        values: $font-sizes,
      ),
      "width": (property: width,
        class: w,
        responsive: true,
        values: $sizings,
      ),
      "height": (property: height,
        class: h,
        responsive: true,
        values: $sizings,
      ),
    ));