//Add your styles into this file
//---------------------------------------------- FONT STYLES ----------------------------------------------//
// Font Size 
//Maybe you can use this styles ot maybe you want to modifu the bootstrap values
/* .fs-50px {
    font-size: 50px !important;
}

.fs-48px {
    font-size: 48px !important;
}

.fs-32px {
    font-size: 32px !important;
}

.fs-30px {
    font-size: 30px !important;
}

.fs-25px {
    font-size: 25px !important;
}

.fs-24px {
    font-size: 24px !important;
    @include media-breakpoint-down(md) {
        font-size: 12px !important;
    }
}

.fs-22px {
    font-size: 22px !important;
}

.fs-20px {
    font-size: 20px !important;
}

.fs-19px {
    font-size: 19px !important;
}

.fs-18px {
    font-size: 18px !important;
}

.fs-16px {
    font-size: 16px !important;
}

.fs-14px {
    font-size: 14px !important;
}

.fs-12px {
    font-size: 12px !important;
    @include media-breakpoint-down(md) {
        font-size: 9px !important;
    }
}

//Font Weigth
.fw-900 {
    font-weight: 900 !important;
}

.fw-800 {
    font-weight: 800 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-300 {
    font-weight: 300 !important;
}

.fw-200 {
    font-weight: 200 !important;
}

.fw-100 {
    font-weight: 100 !important;
}

//Line Height
.lh-65 {
    line-height: 65px !important;
}

.lh-64 {
    line-height: 64px !important;
}

.lh-46 {
    line-height: 46px !important;
}

.lh-39 {
    line-height: 39px !important;
}

.lh-32 {
    line-height: 32px !important;
}

.lh-30 {
    line-height: 30px !important;
}

.lh-26 {
    line-height: 26px !important;
}

.lh-19 {
    line-height: 19px !important;
}

.lh-18 {
    line-height: 18px !important;
} */

//---------------------------------------------- FONT STYLES (END) ----------------------------------------//
//---------------------------------------------- BUTTON ----------------------------------------------//

//---------------------------------------------- BUTTON (END) ----------------------------------------//

//---------------------------------------------- ICONS ----------------------------------------------//
//You can make your own icons in https: //icomoon.io/app/#/select
.moo {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


//---------------------------------------------- ICONS (END) ----------------------------------------//
//---------------------------------------------- BACKGROUND ----------------------------------------------//

//---------------------------------------------- BACKGROUND (END) ----------------------------------------//
//---------------------------------------------- MODAL ----------------------------------------------//

//---------------------------------------------- MODAL (END) ----------------------------------------//


//---------------------------------------------- OTHER ----------------------------------------------//

//---------------------------------------------- OTHER (END) ----------------------------------------//
